# Includes
include:
- dataingress/mosquitto/compose.include.yaml
- datastore/timescaledb/compose.include.yaml
- infra/auth/compose.include.yaml
- infra/frontend/compose.include.yaml
- infra/traefik/compose.include.yaml
- infra/whoami/compose.include.yaml

networks:
  # Default network for services
  default:
    name: dtp-docker-net
    driver: bridge
