# PostgreSQL with TimescaleDB extension

# Password for the 'postgres' admin user.
POSTGRES_PASSWORD={{ 16 | random_b64 }}

# Variables for the 'dtp' user and database
USER_NAME=dtp
USER_DB=dtp
USER_PASSWORD={{ 16 | random_b64 }}
