services:
  traefik:
    image: traefik:3
    container_name: traefik
    restart: always
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    configs:
    - source: traefik_main_config
      target: /etc/traefik/traefik.yml
      mode: 0444
    - source: traefik_dynamic_config
      target: /etc/traefik/dynamic.yml
      mode: 0444
    ports:
    - "${TRAEFIK_PORT}:80"
    - "${TRAEFIK_DASHBOARD_PORT}:8080"
    healthcheck:
      test: ["CMD", "wget", "-qO", "/dev/null", "http://localhost:8080/ping"]
      interval: 30s
      timeout: 3s
      retries: 5
      start_period: 30s
      start_interval: 5s
    labels:
      dtp.description: >-
        Traefik reverse proxy for the digital twin platform. Configure this proxy using the `traefik.yml` file.
      dtp.category: infra
      dtp.urls.web: ${DTP_HOST}:${TRAEFIK_PORT}/
      dtp.urls.admin_dashboard: ${DTP_HOST}:${TRAEFIK_DASHBOARD_PORT}/

configs:
  traefik_dynamic_config:
    file: ./dynamic.yml
  traefik_main_config:
    file: ./traefik.yml
